// Variable overrides
$sidebar-dark-nav-link-hover-color: #ebdde7;
$sidebar-dark-nav-link-hover-bg: #3b445a;
$sidebar-dark-nav-link-hover-icon-color: rgb(213, 206, 206);
$sidebar-dark-bg: #2f3134;
$theme-colors: (
  "bayulet": #321fdb,
);
